
/** ACCORDION */
.accordion {
    --margin: 0.4em;
    --time: 0.2s;
    padding: 0.3em;
    border-bottom: 1.5px solid transparent;
    border-bottom-color: hsla(340 10% 52%/.5);
    transition: background-color var(--time);
    border-radius: 0.5em 0.5em 0 0;
}

.accordion:hover {
    background-color: hsl(340 82% 52% / .03);
}

/** TITLE CONTAINER */
.accordion .title-container {
    cursor: pointer;
    display: flex;
    padding: 1em var(--margin);
}

.accordion .title-container h2 {
    flex-grow: 1;
    margin: 0;
}

.accordion .title-container .arrow {
    scale: 1.5;
    transition: rotate var(--time);
}

/** CONTENT */
.accordion .content {
    max-height: 0;
    font-size: 1.1em;
    padding: 0 var(--margin);
    overflow: hidden;

}

/** OPEN STATE */
.accordion.open .content {
    max-height: 100%;
}

.accordion.open .arrow {
    rotate: 180deg;
}