.car-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15vh;
}

.car-details h1 {
    color: var(--clr1);
    font-size: 2em;
}

.car-details h5 {
    color: var(--clr2);
}
.car-details img {
    max-width: 200px;
    display: block;
    margin: auto;
}